#editableDiv {
    width: 100%;
    height: Calc(100vh - 50px);
    display: block;
    position: relative;
    border: 1px solid black;
    box-sizing: border-box;
}
#bufferDiv {
    display: none;
}
#copyBtn {
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 10px;
}
[placeholder]:empty::before {
    content: attr(placeholder);
    color: #555; 
}

[placeholder]:empty:focus::before {
    content: "";
}

.modified {
    background-color: yellow;
}